\#*
*~
src-x86_64
*.Rhistory
*.DS_Store
*.aux
*.bbl
*.blg
*.log
*.idx
*.lof
*.lot
*.toc
*.synctex.gz
Rplots.pdf
*.est
*.pred
.Rproj.user
*.html
*.est_1
*.est_2
*.est_3
*.est_4
*.Rproj
*.tex.bak
*.out.bak
*.out